/* LAYOUT */

body {
    color: #333;
    font-size: 125%;
    line-height: 1.5;
    max-width: 50rem;
    padding: 1rem;
    margin: 0 auto;
  }
  
  .content {
    max-width: 50rem;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 48rem) {
    .site-nav,
    .main-menu {
      flex-direction: column;
    }
  
    .site-nav a {
      padding: 0.5rem;
      padding-left: 0;
    }
  }
  
  /* TABLE */
  
  .game-table {
    border: solid 1px #DDEFEF;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
  }
  .game-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
  }
  .game-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
  }